Terraform/**
!Terraform/main.tf
!Terraform/outputs.tf
!Terraform/variables.tf

Classifier/**
!Classifier/output/
!Classifier/output/**
!Classifier/01_prepare_dataset.py
!Classifier/02_train_model.py

Datasets/

Documentation/**
!Documentation/01_Prepare_dataset.docx
!Documentation/02_Model_training_and_evaluation.docx
!Documentation/03_API.docx
!Documentation/04_Application.docx

Tests/**
!Tests/test_api.py